#about {
    padding: 3% 0%;
}

#about .heading {
    text-align: center;
}

.heading h2 {
    font-family: 'helvetica_ce_55_romanregular';
}

.heading p {
    padding: 20px 0px;
    font-size: 13px;
    font-weight: bolder;
    color: #555;
}

.ab-sec {
    text-align: justify;
}

.ab-sec h3 {
    font-weight: bolder;
}

.ab-sec p {
    padding: 10px 0px;
    font-size: 13px;
}

.bg-sec {
    background: #8E9AAF;
    margin-top: 10px;
    padding: 1% 0%;
}

.bg-sec h3 {
    color: #FFFFFF;
    text-transform: none;
    font-weight: bolder;
}

.bg-sec p {
    color: #FFFFFF;
}

span {
    color: #148DDF;
}

.line {
    border: 1px solid #148DDF;
    width: 15%;
}

* {
    margin: 0 auto;
}

body {
    font-family: 'helvetica_ce_55_romanregular';
}
.first{
padding: 25px 25px 1px 35px;
}
a.btn-down {
    height: 50px;
    width: 150px;
    color: #fff;
    border: 2px solid #fff;
    padding: 5% 10%;
    position: relative;
    top: 5px;
    font-size: 17px;
    left: 60px;
}

a.btn-down:hover {
    background: #fff;
    color: #e73131;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

h3 {
    color: #333;
    font-size: 23px;
}

strong {
    font-weight: bolder;
}
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
#topbar {
    display: inline;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

#topbar * {
    margin: 0;
}

.nav-item a {
    font-size: 14px;
}

.nav-item a:hover {
    color: #8E9AAF;
    font-weight: bold;
}

.nav-link {
    color: black;
}

#myNavbar a {
    color: #8E9AAF;
}

#topbar ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid black;
    padding-top: 10px;
}

#topbar ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#topbar i {
    line-height: normal;
}

#header {
    padding: 10px 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.address p {
    text-align: left;
    position: relative;
    padding: auto;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    justify-content: center;
}

#header .first {
    justify-content: center;
}

nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topbar ul li {
    border-color: rgba(255, 255, 255, .4);
}

#topbar ul li a {
    color: #3A2E39;
}

#topbar li:first-child a,
#topbar a:hover {
    color: #3A2E39;
}

@media screen and (max-width: 978px) {
    .hoc {
        max-width: 90%;
    }
    #header {
        padding: 30px 0;
    }
}

@media screen and (max-width: 750px) {
    #header {
        text-align: center;
    }
}

*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

a {
    color: #FD8866;
}

a:active,
a:focus {
    background: transparent;
}

#mainav form * {
    transition: none !important;
}

.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: black;
    float: left;
    width: 44px;
    height: 44px;
    background: #E8E6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
    margin-top: 25px;
}

.contact button {
    background: #E8E6DF;
    border: 2px solid #000;
    padding: 10px 35px;
    color: #000;
    transition: 0.4s;
    border-radius: 50px;
}

.contact button:hover {
    background: #fff;
    border: 2px solid #000;
}

.sub-footer {
    margin-top: 30px;
    background: #77878B;
    border-top: 1px solid #000;
    padding: 30px 0 10px;
}

footer .sub-footer p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
}
