@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
#topbar {
    display: inline;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

#topbar * {
    margin: 0;
}

.nav-item a {
    font-size: 14px;
}

.nav-item a:hover {
    color: #8E9AAF;
    font-weight: bold;
}

.nav-link {
    color: black;
}

#myNavbar a {
    color: #8E9AAF;
}

#topbar ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid black;
    padding-top: 10px;
}

#topbar ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#topbar i {
    line-height: normal;
}

#header {
    padding: 10px 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.address p {
    text-align: left;
    position: relative;
    padding: auto;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    justify-content: center;
}

#header .first {
    justify-content: center;
}

nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topbar ul li {
    border-color: rgba(255, 255, 255, .4);
}

#topbar ul li a {
    color: #3A2E39;
}

#topbar li:first-child a,
#topbar a:hover {
    color: #3A2E39;
}

@media screen and (max-width: 978px) {
    .hoc {
        max-width: 90%;
    }
    #header {
        padding: 30px 0;
    }
}

@media screen and (max-width: 750px) {
    #header {
        text-align: center;
    }
}

*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

a {
    color: #FD8866;
}

a:active,
a:focus {
    background: transparent;
}

.column {
    background-color: #E8E6DF;
}

#text {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 0;
}

#sec2-img {
    padding: 37px 83px 28px 21px;
    width: 500px;
    justify-content: center;
    height: 400px;
    border-radius: 30px 0px;
}

.home {
    position: relative;
    height: 100%;
    min-height: 100vh;
    padding-top: 90px;
    align-items: center;
    background-color: var(--color-fourth);
}

.home-image {
    position: absolute;
    right: 0;
    width: 50%;
    top: 0;
    height: 100vh;
    object-fit: cover;
}

.home-wrapper .col {
    width: 50%;
}

.col p {
    width: 81%;
    margin-bottom: 50px;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 12px 30px;
    font-size: regular;
    font-weight: regular;
    background-color: #8E9AAF;
    color: white;
    letter-spacing: 1.1px;
    box-shadow: 0px 15px 40px rgba(44, 37, 51, 0.4);
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #8E9AAF;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: transparent;
    color: #8E9AAF;
    box-shadow: none;
}

#line {
    margin-top: 90px;
    color: black;
    background-color: #000;
}

.new p {
    font-size: 24px;
    color: #878181;
}

.new h2 {
    font-size: 52px;
    margin-top: 50px;
}

.background {
    background: #DEE2FF;
}

.new {
    overflow: hidden;
}

.new .nav-tabs {
    border: 0;
}

.new .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #8E9AAF;
    border-radius: 0;
    border-right: 2px solid black;
    font-weight: 600;
    font-size: 15px;
}

.new .nav-link:hover {
    color: #148DDF;
    border-color: #DEE2FF;
}

.new .nav-link.active {
    color: #000;
    background-color: #148DDF;
    border-color: #148DDF;
}

.new .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.new .details p {
    color: #878181;
}

.new .details p:last-child {
    margin-bottom: 0;
}

.tab-pane p span {
    color: #000000;
}


.section-title{
    text-align: center;
     margin-bottom: 55px;
      
}
.faq .faq-list{
    padding: 0 100px;
    margin-bottom: 10px;
}
.faq .faq-list ul{
    padding: 0;
    list-style: none;
    padding-bottom: 50px;
}
.faq .faq-list li{
    padding: 20px;
    background: white;
    border-radius: 4px;
    position: relative;
}
.faq .faq-list a{
    display: block;
    position: relative;
     font-size: 16px;
     line-height: 24px;
     font-weight: bold;
     padding: 0 30px;
     outline: none;
}
.faq .faq-list .icon-help{
    font-size: 20px;
     position: absolute;
     right: 0;
     left: 20px;
     color: #272838;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close{
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
.faq .faq-list p{
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
.faq .faq-list .icon-show{
    display: none;
}
.faq .faq-list a.collapsed{
    color: #272838;
}
.faq .faq-list a.collapsed:hover{
    color: #7E7F9A;
}
.faq .faq-list a.collapsed .icon-show{
    display: none;
}
.faq .faq-list a.collapsed .icon-close{
    display: none;
}
@media (max-width:1200px){
    .faq .faq-list{
        padding: 0;

    }
}



.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: black;
    float: left;
    width: 44px;
    height: 44px;
    background: #E8E6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
    margin-top: 25px;
}

.contact button {
    background: #E8E6DF;
    border: 2px solid #000;
    padding: 10px 35px;
    color: #000;
    transition: 0.4s;
    border-radius: 50px;
}

.contact button:hover {
    background: #fff;
    border: 2px solid #000;
}

.sub-footer {
    margin-top: 30px;
    background: #77878B;
    border-top: 1px solid #000;
    padding: 30px 0 10px;
}

footer .sub-footer p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

.burger {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 35px;
    height: 4px;
    background: black;
    margin: 4px;
}

@media (min-width: 1250px) {
    .burger {
        display: none;
    }
}

@media (max-width: 1250px) {
    /*   .home {
        margin-top: 500px;
    }*/
    div[class="wrapper row2"] {
        background-color: none;
    }
    #address {
        margin-top: 30px;
    }
    #mainav {
        display: none;
    }
    .clear li {
        position: initial;
        width: 100%;
        color: black;
    }
}
