.navbar-brand {
    background-color: #148DDF;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.navbar-brand span {
    color: #000;
}

.navbar-brand small {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;
}

.social-media .call-icon {
    position: absolute;
    width: 40px;
    height: 178px;
    left: 198px;
    top: 5px;
    z-index: 1;
    background: #495867;
    border-radius: 0px 0px 35px 35px;
}

.social-media .call-icon #call-title {
    position: absolute;
    width: 97px;
    height: 24px;
    left: 0;
    right: 0;
    top: 70px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    transform: rotate(90deg);
}

.main-navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1!important;
}

.main-navbar-light .navbar-nav .nav-item .nav-link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background: wheat;
    transition: all 0.3s ease;
}

.main-navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.main-navbar-light .navbar-nav .nav-item .nav-link:hover:before {
    width: 100%;
}

.main-navbar-light .navbar-nav .nav-item.active a {
    color: #4E4C67;
}

.main-navbar-light .navbar-toggler {
    border: none;
    color: #4E4C67!important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.main-navbar-light .navbar-toggler:focus {
    outline: none!important;
}

#image {
    width: 5%;
    position: relative;
    left: 70px;
}

#enter {
    padding: 50px 0 10px 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: grey;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid grey;
}

.btn_enter {
    background-color: grey;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn_enter:hover {
    opacity: 1;
}

.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: black;
    float: left;
    width: 44px;
    height: 44px;
    background: #E8E6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
    margin-top: 25px;
}

.contact button {
    background: #E8E6DF;
    border: 2px solid #000;
    padding: 10px 35px;
    color: #000;
    transition: 0.4s;
    border-radius: 50px;
}

.contact button:hover {
    background: #fff;
    border: 2px solid #000;
}

.sub-footer {
    margin-top: 30px;
    background: #148DDF;
    border-top: 1px solid #000;
    padding: 30px 0 10px;
}

footer .sub-footer p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
}