@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
#topbar {
    display: inline;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

#topbar * {
    margin: 0;
}

.nav-item a {
    font-size: 14px;
}

.nav-item a:hover {
    color: #8E9AAF;
    font-weight: bold;
}

.nav-link {
    color: black;
}

#myNavbar a {
    color: #8E9AAF;
}

#topbar ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid black;
    padding-top: 10px;
}

#topbar ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#topbar i {
    line-height: normal;
}

#header {
    padding: 10px 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.address p {
    text-align: left;
    position: relative;
    padding: auto;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    justify-content: center;
}

#header .first {
    justify-content: center;
}

nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topbar ul li {
    border-color: rgba(255, 255, 255, .4);
}

#topbar ul li a {
    color: #3A2E39;
}

#topbar li:first-child a,
#topbar a:hover {
    color: #3A2E39;
}

@media screen and (max-width: 978px) {
    .hoc {
        max-width: 90%;
    }
    #header {
        padding: 30px 0;
    }
}

@media screen and (max-width: 750px) {
    #header {
        text-align: center;
    }
}

*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

a {
    color: #FD8866;
}

a:active,
a:focus {
    background: transparent;
}

.services {
    display: flex;
}

.services-content {
    flex: 0 0 50%;
}

.inside_content {
    padding: 20px 103px 10px 91px;
}

.inside_text {
    padding: 70px 20px 10px 10px;
}

.services-content h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    align-items: center;
}

.info_servis {
    border: 1px solid #000;
    border-radius: 10px;
    width: 312px;
    height: 540px;
    background-color: #C4C4C4;
    padding: 32px 55px 10px 10px;
    text-align: center;
    align-items: center;
}

.info_servis ul li {
    list-style: none;
    padding: 5px 4px;
    transition: 0.3s;
    margin-top: 25px;
}

.info_servis li {
    color: black;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}

.info_servis li:hover {
    color: #DEE2FF;
}

#title_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 2px 4px 36px 0px;
}

#methods {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 12px 30px;
    font-size: regular;
    font-weight: regular;
    background-color: #8E9AAF;
    color: white;
    letter-spacing: 1.1px;
    box-shadow: 0px 15px 40px rgba(44, 37, 51, 0.4);
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #8E9AAF;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: transparent;
    color: #8E9AAF;
    box-shadow: none;
}

.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: black;
    float: left;
    width: 44px;
    height: 44px;
    background: #E8E6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
    margin-top: 25px;
}

.contact button {
    background: #E8E6DF;
    border: 2px solid #000;
    padding: 10px 35px;
    color: #000;
    transition: 0.4s;
    border-radius: 50px;
}

.contact button:hover {
    background: #fff;
    border: 2px solid #000;
}

.sub-footer {
    margin-top: 30px;
    background: #77878B;
    border-top: 1px solid #000;
    padding: 30px 0 10px;
}

footer .sub-footer p {
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1250px) {
    body {
        background: #148DDF;
    }
    #address {
        margin-top: 30px;
    }
    .container-xl * {
        display: initial;
    }
    .info_servis {
        display: flex;
        margin: 0 auto;
        height: fit-content;
        text-align: left;
    }
    .col-2 {
        display: none;
    }
    .col-10 {
        margin: 0 auto;
    }
    .container-xl {
        margin: 0 auto;
    }
    .h2h2 {
        position: relative;
        left: 280px;
    }
    #methods {
        display: initial;
        width: 100%;
    }
    #methods1 {
        position: relative;
        left: 150px;
    }
}

@media (max-width: 730px) {
    #methods1 {
        position: relative;
        left: 10px;
    }
}





@media (max-width: 1250px) {
    /*   .home {
           margin-top: 500px;
       }*/
    div[class="wrapper row2"] {
        background-color: none;
    }
    #address {
        margin-top: 30px;
    }
    #mainav {
        display: none;
    }
    .clear li {
        position: initial;
        width: 100%;
        color: black;
    }
}
